.meeting-footer{
    background: #20212483; 
    height: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.meeting-icons{
    color: white;
    border-radius: 50%;
    background:#3c4043;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media (max-width: 800px) {
      width: 28px;
      height: 28px;
    }
}

.active {
  background-color:   #ea4335;
}

div[disabled]
{
  pointer-events: none;
  opacity: 0.3;
}

.microphone-icon {
  border-radius: 0px !important;
  border: 2px solid #CCFF00;
  background: transparent;
}

.video-icon {
  border-radius: 0px !important;
  border: 2px solid #CCFF00;
  background: transparent;
}

.shared-icon {
  border-radius: 0px !important;
  border: 2px solid #CCFF00;
  background: transparent;
}